extends layout

block content
  h1= title

  if error
    p Error getting dynamic content.
  else
    p The library has the following record counts:

    ul
      li #[strong Items:] !{data.item_count}
      li #[strong Categories:] !{data.category_count}

    h1 Items

    .catalog-items
      each item in data.item_list
        .catalog-item
          img(src = item.img)
          a(href=item.url) #{item.name}
          p $#{item.price}


